

.bg-ceo{
    background-color: #f8f9fb;
}
.card-style{
    border:none !important;
   
}
.navbar-bg{

    background-color: #ba986b;
}

.bg-herosection{
    background-color: #b4d6df ;
}
.input-bg{
    background-color: #49accc;
}